#done {
  background-color: green;
  margin-top: 6rem;
  margin-left: 3rem;
  border-radius: 5rem;
}

.li {
  border: 2px solid green;
  display: flex;
  background-color: brown;
  height: 10rem;
  width: 10rem;
  margin-top: 3rem;
  margin-right: 3rem;
  
}

.todo{
    
    text-align: center;
}
.priority{
    
    
}